<section class="footer">
    <div class="container">
        <div class="row footer_content">
            <div class="col-md-3 d-flex flex-column">
                <img src="{{'assets/img/logo.png'|theme}}" alt="">
                <a href="tel:+79777146303" class="footer-link"><i class="fas fa-phone"></i>8-977-714-63-03</a>
                <a href="tel:+79771440530" class="footer-link"><i class="fas fa-phone"></i>8-977-144-05-30</a>
                <a href="mailto:f977146303@gmail.com"  class="footer-link"><i class="fas fa-envelope-open-text"></i>f9777146303@gmail.com</a>
            </div>
            <div class="col-md-9 d-flex flex-column align-items-end justify-content-between">
                <div>
                    <ul class="footer_nav">
                        <li><a class="scroll-anchor" href="#main">Главная</a></li>
                        <li><a class="scroll-anchor" href="#company">О компании</a></li>
                        <li><a class="scroll-anchor" href="#services">Услуги</a></li>
                        <li><a class="scroll-anchor" href="#prices">Цены</a></li>
                        <li><a class="scroll-anchor" href="#rewius">Отзывы</a></li>
                        <li><a class="scroll-anchor" href="#contacts">Контакты</a></li>
                    </ul>
                </div>
                <div>
                    <p><i class="fas fa-map-marker-alt"></i>140410, Московская область, г. Коломна, <br/> ул. Фрунзе, д. 52, 2 этаж, офис 204</p>
                    <p><i class="fas fa-clock"></i>9.30 по 17.30 Пн-Пт без перерыва на обед</p>
                </div>
            </div>
        </div>
        <div class="footer_bottom d-flex">
            <div class="col-md-9">
                <ul class="social">
                    <li><a href="https://vk.com/finekcpert" target="_blank"><i class="fab fa-vk"></i></a></li>
                    <li><a href="#inst"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://msng.link/wa/79777146303"><i class="fab fa-whatsapp"></i></a></li>
                    <li><a href="https://msng.link/vi/89777146303"><i class="fab fa-viber"></i></a></li>
                    <li style="font-size: 14px"><a href="{{'sitemap'|page}}">Карта сайта</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <img src="{{'assets/img/logo-dark.png'|theme}}" alt="logosnapix">
            </div>
        </div>
    </div>
</section>
