
<!-- Nav -->
<header class="header-pages">

    <div class="overlay">
        <div class="header_nav">
            <div class="container">
                <div class="header_nav_top">
                    <div class="header_nav_top_adress">
                        <p><i class="fas fa-map-marker-alt"></i>140410, Московская область, г. Коломна, <br/> ул. Фрунзе, д. 52, 2 этаж, офис 204</p>
                        <p><i class="fas fa-clock"></i>9.30 по 17.30 Пн-Пт без перерыва на обед</p>
                    </div>
                    <img src="{{'assets/img/logo.png'|theme}}" alt="" class="header_nav_top_logo">
                    <div class="header_nav_top_phone">
                        <p><i class="fas fa-phone"></i>8-977-714-63-03</p>
                        <p><i class="fas fa-phone"></i>8-977-144-05-30</p>
                    </div>
                </div>
                <div class="header_nav_bottom">
                    <a href="#aa" class="header_mail"><i class="fas fa-envelope-open-text"></i>f9777146303@gmail.com</a>
                    <nav class="top_menu">
                        <ul>
                            <li><a class="scroll-anchor" href="{{ 'home'|page }}">Главная</a></li>
                            <li><a class="scroll-anchor" href="{{ 'o-kompanii'|page }}">О компании</a></li>
                            <li><a class="scroll-anchor" href="{{ 'uslugi'|page }}">Услуги</a></li>
                            <li><a class="scroll-anchor" href="{{ 'ceny'|page }}">Цены</a></li>
                            <li><a class="scroll-anchor" href="{{ 'otzyvy'|page }}">Отзывы</a></li>
                            <li><a class="scroll-anchor" href="{{ 'kontakty'|page }}">Контакты</a></li>
                        </ul>
                    </nav>
                    <a href="#hh" class="btn header_nav_bottom_btn click-modal"><i class="fas fa-phone-volume"></i>Обратный
                        звонок</a>
                </div>
            </div>
        </div>

    </div>
</header>