<form data-request="{{ __SELF__ }}::onFormSubmit" class="modal_form">
    {{ form_token() }}

    {{ actionName }}
    <p class="text-center h1">Оставить заявку</p>
    <div class="line black-line"></div>
    <p class="text-center h1-sub">Оставьте ваши контактные данные и наши менеджеры свяжутся с вами в ближайшее время</p>
    <div class="modal-inputs">
        <input type="text" placeholder="Ваше Имя" required name="Ваше имя">
        <input type="text" placeholder="Ваш телефон" required name="Телефон" class="phone-mask"  pattern="^[+]7[(][0-9]{3}[)][\s][0-9]{3}[\-][0-9]{2}[\-][0-9]{2}$">
        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" />
    </div>
    <div class="form_btn d-flex justify-content-center">
        <button class="btn">Отправить</button>
    </div>

    <div id="{{ __SELF__ }}_forms_flash" class="forms_flash"></div>

    <!--<div class="form-group">-->
        <!--{% partial '@recaptcha' %}-->
    <!--</div>-->
</form>
