@charset "UTF-8"
@import parts/fonts.scss
@import parts/animations.scss
$black : black
$white : white
$blue : #304fff
$yellow : #ffb100
$grey: #c6c8b3
$greyDown: #fbfafc
$red: rgb(183, 35, 15)

.btn
	background: transparent
	border: 1px solid white
	border-radius: 10px
	padding: 7px 25px
	transition: all .5s ease
	color: $yellow
	cursor: pointer
	&:hover
		background: $red
		color: white
		border: 1px solid $red
	svg
		width: 45px
		height: 45px
		fill: #fff
		margin: 0 10px
.radio-btn
	&::before
		display: inline-block
		content: ''
		border: solid 5px $blue
		border-radius: 50%
		height: 16px
		width: 16px
		margin-right: 14px
.underline
	text-decoration: underline
.text-center
	text-align: center
.text-right
	text-align: right
.text-left
	text-align: left
.section
	padding: 50px 60px 0 50px 
	background-repeat: no-repeat
	min-height: 60vh
	display: flex
	flex-direction: column
	align-items: center
	position: relative
.mt-5
	margin-top: 3em
.mb-5
	margin-bottom: 3em
.ml-3
	margin-left: 1em
.mt-3
	margin-top: 1em
.mb-3
	margin-bottom: 1em
.ml-1
	margin-left: 0.25em
.mb-2
	margin-bottom: .5rem
.my-4
	margin-top: 1.5rem
	margin-bottom: 1.5rem
.img-fluid
	max-width: 100%
	height: auto
.js-scroll
	transform: translateY(0)
	opacity: 1
	transition-duration: 1000ms

.blick 
	overflow: hidden
	position: relative
	&::after
		content: ""
		width: 100%
		position: absolute
		top: 0
		height: 100%
		background: linear-gradient(110deg,rgba(255,255,255,0) 15%,rgba(255,255,255,.75) 25%,rgba(255,255,255,0) 35%)
		animation: bt 2.5s linear infinite
		left: 0
.hidden
    position: absolute
    left: -300vh
    display: none
input,
button
	outline: none
input[type="range"]
	width: 100%
	-webkit-appearance: none
	cursor: pointer
	background: transparent
	background-color: transparent
	color: transparent

input[type="range"]::-webkit-slider-thumb
	-webkit-appearance: none
	background: $yellow
	color: red
	height: 20px
	width: 20px
	border-radius: 50px
	margin-top: -8px
input[type="range"]::-moz-range-thumb
	color: $yellow
	background: red
	height: 20px
	width: 20px
	border-radius: 50px
	cursor: pointer
input[type="range"]::-webkit-slider-runnable-track
	width: 100%
	height: 3px
	background: black
h1
	margin-block-start: 0em
	margin-block-end: 0em
	font-size: 2em
	font-family: Proxima-bold
	@media(max-width: 992px)
		font-size: 1.4em
h2
	margin-block-start: 0em
	margin-block-end: 0em
	font-size: 24px
	font-weight: 700
h3,.h3
	margin-block-start: 0em
	margin-block-end: 0em
	font-size: 22px
	font-weight: 400
h4, p
	font-size: 14px
	font-weight: 400
	margin-block-start: 0
	margin-block-end: 0
a
	cursor: pointer
	color: black
	text-decoration: none
	position: relative
	background-color: transparent
li
	list-style: none

body
	min-width: 320px
	font:
		family: PT Sans Narrow
		size: 20px
		weight: 400
	line-height: 1.3
	overflow-x: hidden
	width: 100%
	margin: 0
	position: relative
section
	width: 100%
	padding: 50px 0
.line
	width: 15px
	height: 15px
	border-radius: 50px
	border: 1px solid white
	position: relative
	margin: 30px auto
	&:after,
	&:before
		position: absolute
		content: ""
		width: 200px
		height: 2px
		background: rgba(255, 255, 255, 0.6)
		top: 6px
		@media (max-width: 576px)
			width: 120px
	&:after
		left: 25px
	&:before
		right: 25px
.black-line
	background: white
	border: 1px solid black
	&:after,
	&:before
		background: black
header
	background-repeat: no-repeat
	background-size: cover
	width: 100%
	height: 710px
	position: relative
	color: white
	@media(max-width: 768px)
		height: 855px
	@media(max-width: 576px)
		height: 750px
	a
		color: $yellow
		&:hover
			color: $red
	i
		margin-right: 10px
		@media (max-width: 576px)
			margin-right: 5px
	.overlay
		position: absolute
		width: 100%
		height: 100%
		background: rgba(0, 0, 0, 0.7)
	.header_nav
		background: rgba(0, 0, 0, 0.2)
		&_top,
		&_bottom
			display: flex
			justify-content: space-between
			align-items: center
			&_btn
				background: transparent
				border: 1px solid white
				border-radius: 10px
				padding: 7px 15px
				transition: all .5s ease
				@media (max-width: 992px)
					font-size: 14px
				@media (max-width: 768px)
					font-size: 16px
					margin: -8px 0 8px
				&:hover
					background: $red
					color: white
					border: 1px solid $red
		&_bottom
			@media(max-width: 768px)
				justify-content: flex-end
		&_top
			padding: 20px 0
			p
				margin-bottom: 5px
				font-size: 18px
			&_logo
				width: 300px
				height: auto
				object-fit: contain
				@media (max-width: 992px)
					width: 220px
				@media(max-width: 576px)
					width: 140px
		&_bottom
			nav
				ul
					display: flex
					li
						padding: 0 15px
						a
							text-transform: uppercase
							color: white
							font-size: 18px
							font-weight: bold
							&:hover
								color: $yellow
	.header_headlines
		padding: 55px 0
		text-align: center
		@media(max-width: 768px)
			padding: 30px 0
		&_left,
		&_right
			@media (max-width: 768px)
				flex: 0 0 100% !important
				max-width: 100%!important
		h1
			font-size: 52px
			margin-top: 55px
			@media(max-width: 992px)
				font-size: 30px!important
			@media (max-width: 768px)
				margin-top: 10px
			@media(max-width: 576px)
				font-size: 24px!important
		h4
			font-size: 28px
			opacity: 0.8
			font-weight: bold
	.header_form
		border: .5px solid white
		border-radius: 10px
		padding: 15px 30px 35px
		@media (max-width: 768px)
			margin-top: 20px
		p.headline
			font-size: 32px
			font-family: Proxima-bold
			padding-bottom: 35px
			@media (max-width: 992px)
				font-size: 16px!important
		input,
		textarea
			border: none
			border-bottom: 1px solid white
			background: transparent
			color: white
			width: 70%
			margin: 0 auto 20px
			padding: 10px 7px
			&::placeholder
				color: rgba(255, 255, 255, 0.8)
		.form_btn
			margin-top: 15px
	.header_bottom
		position: absolute
		bottom: 40px
		width: 100%
		@media (max-width: 576px)
			display: none
		&_content
			display: flex
			align-items: center
			justify-content: space-between
			@media(max-width: 992px)
				font-size: 14px
			@media (max-width: 768px)
				font-size: 12px
			a
				text-transform: uppercase
				color: white
				display: flex
				align-items: center
				span
					@media (max-width: 576px)
						display: none
				&:hover
					color: $yellow
					.first,
					.third
						background: white
						transform: rotate(180deg)
					.third
						background: transparent
						border: 1px solid white
						transform: rotate(360deg)
				.first,
				.third
					background: $yellow
					font-size: 30px
					padding: 10px 20px
					border-radius: 10px
					margin-right: 15px
					transition: all .5s ease
					@media(max-width: 992px)
						font-size: 15px
					@media (max-width: 768px)
						margin-right: 5px
						font-size: 10px
				.third
					background: transparent
					border: 1px solid $yellow
			.second-btn
				background: transparent
				border: 1px solid white
				border-radius: 10px
				padding: 7px 25px
				transition: all .5s ease
				color: $yellow
				&:hover
					background: $red
					color: white
					border: 1px solid $red
	.header_mail
		@media (max-width: 992px)
			display: none
.header_nav_top_adress
	@media (max-width: 768px)
		display: none
.top_menu
	@media (max-width: 768px)
		display: none
#intro
  position: absolute
  width: 100%
  height: 100%
.advantages
	background: $yellow
	&_items
		display: flex
		flex-wrap: wrap
		@media(max-width: 768px)
			flex-direction: column
	&_item
		width: 30%
		margin: 30px 1.5%
		display: flex
		align-items: center
		@media (max-width: 768px)
			width: 100%
			margin: 15px
		&_img
			border: 1px dashed black
			padding: 25px
			border-radius: 100px
			opacity: .8
			@media(max-width: 992px)
				padding: 15px
			img
				@media(max-width: 992px)
					width: 25px
		p
			font-weight: bold
			font-size: 18px
			margin-left: 15px
			@media (max-width: 992px)
				font-size: 15px
.cp
	p
		font-size: 18px
		font-weight: bold
		color: rgb(80, 80, 80)
		text-align: center
		padding-bottom: 20px
.services
	background: url('img/services-bg.jpg')
	background-attachment: fixed
	color: white
	position: relative
	.overlay
		position: absolute
		width: 100%
		height: 100%
		top: 0
		background: rgba(0, 0, 0, 0.7)
	&_items
		display: flex
		flex-wrap: wrap
		justify-content: space-evenly
	&_item
		width: 40%
		margin: 0 1% 15px
		padding: 10px 20px
		border: 1px solid rgba(255, 255, 255, 0.48)
		border-radius: 10px
		@media(max-width: 768px)
			width: 100%
		&_h2
			position: relative
			margin-left: 10px
			font-size: 28px
			@media (max-width: 992px)
				font-size: 22px
			&:before
				content: ""
				position: absolute
				height: 30px
				width: 5px
				top: 6px
				left: -20px
				background: $yellow
		ul
			li
				position: relative
				margin-left: 10px
				padding: 3px 0
				font-weight: bold
				@media(max-width: 992px)
					font-size: 18px
				&:before
					content: ""
					position: absolute
					top: 6px
					left: -28px
					width: 20px
					height: 20px
					color: $yellow
					background: url('img/check-solid.svg')
.scheme
	&_container
		display: flex
		@media (max-width: 768px)
			flex-direction: column
		.h3
			margin-top: 20px
			font-weight: bold
			text-transform: uppercase
			i
				font-size: 24px
				margin-right: 10px
	&_right
		width: 100%
		border-top: 3px solid $red
		.scheme_list_item
			border-left: 3px solid $red
			ul
				li
					&:before
						background: url('img/check-solid-red.svg')
	&_left
		width: 100%
		border-top: 3px solid $yellow
	&_list
		@media(max-width: 768px)
			margin-bottom: 50px
		&_item
			border-left: 3px solid $yellow
			padding-left: 90px
			position: relative
			margin-top: 40px
			&:before
				position: absolute
				content: "00"
				color: #b1b1b1
				font-size: 60px
				left: 10px
				top: -15px
			ul
				li
					position: relative
					@media(max-width: 992px)
						font-size: 16px
					&:before
						content: ""
						position: absolute
						top: 6px
						left: -28px
						width: 20px
						height: 20px
						background: url('img/check-solid.svg')
		h4
			font-size: 24px
			font-weight: bold
			opacity: .8
			text-transform: uppercase
			@media(max-width: 992px)
				font-size: 18px
		.n_1
			&:before
				content: "01"
		.n_2
			&:before
				content: "02"
		.n_3
			&:before
				content: "03"
		.n_4
			&:before
				content: "04"
		.n_5
			&:before
				content: "05"
.calculate
	background: url("img/calc_bg.jpg")
	background-attachment: fixed
	position: relative
	padding: 20px 0 80px
	.line
		margin: 10px auto
	h1
		color: white
	p
		span
			color: white
			opacity: 0.4
			font-size: 18px
			font-weight: bold
			letter-spacing: 0.05em
	&-box
		width: 100%
		height: 540px
		background: rgba(132, 132, 132, 0.9)
		border-radius: 15px
		margin: 20px 0
		@media (max-width: 992px)
			height: 500px
		@media (max-width: 768px)
			height: 710px
	&_bottom
		position: absolute
		width: 100%
		bottom: 35px
		display: flex
		justify-content: space-around
		align-items: center
		padding: 0 50px
		@media (max-width: 576px)
			width: 90%
			padding: 0 10px
		&_left
			@media (max-width: 768px)
				display: none
		p
			font-size: 34px
			color: $yellow
			@media (max-width: 1200px)
				font-size: 20px
		a
			i
				margin-right: 10px
	&_form_btn
		position: absolute
		width: 100%
		height: 100px
		background: black
		bottom: -20px
	.calc_body
		padding: 15px 30px
		@media(max-width: 576px)
			padding: 15px 10px
		input
			margin: 15px 0
			@media (max-width: 768px)
				margin: 5px 0
	.form_btn_row
		display: flex
		justify-content: center
		width: 100%
		margin-top: 22px
		.modal-btn
			background: #505050
			color: white
			border: none
			padding: 15px 50px
			display: flex
			align-items: center
			&:hover
				background: #b7230f
			i
				margin: 2px 10px 0
	.top
		display: flex
		justify-content: space-between
		padding-bottom: 40px
		border-bottom: 2px solid rgba(0, 0, 0, 0.3)
		@media(max-width: 768px)
			flex-direction: column
			padding-bottom: 0
		.radio_field,
		.radio_revenue
			display: flex
			flex-direction: column
			@media(max-width: 768px)
				flex-direction: row
				flex-wrap: wrap
				margin-bottom: 10px
			label
				display: flex
				@media(max-width: 768px)
					width: 50%
				span
					margin: 7px 10px 0
					@media(max-width: 768px)
						margin: 7px 10px 0
		.radio_tax,
		.radio_field,
		.radio_revenue,
		.radio_organization
			input[type="radio"]
				display: none
			label
				span
					position: relative
					margin-left: 40px
					@media(max-width: 992px)
						font-size: 14px
					@media (max-width: 576px)
						font-size: 12px
					&:before
						content: ""
						position: absolute
						width: 18px
						height: 18px
						border: 1px solid #00000040
						border-radius: 50px
						background: #dadada
						top: 6px
						left: -30px
						@media(max-width: 992px)
							width: 20px
							height: 20px
							top: 0
				input[type="radio"]
					display: none
					&:checked + span:after
						content: ""
						position: absolute
						width: 8px
						height: 8px
						border: 1px solid #00000040
						border-radius: 50px
						background: $yellow
						top: 11px
						left: -25px
						@media(max-width: 992px)
							width: 8px
							height: 8px
							top: 6px
							left: -24px
		h3
			font-size: 26px
			opacity: .7
			font-weight: 700
			letter-spacing: 0.03em
			padding-bottom: 5px
			@media(max-width: 992px)
				font-size: 18px
		.radio_organization
			margin-top: 20px
			@media (max-width: 768px)
				margin-top: 0px
			label span
				margin-right: 30px
		.top_2_bottom
			margin-top: 35px
			@media (max-width: 768px)
				margin-top: 10px
				margin-bottom: 8px
			.radio_tax
				margin-top: 20px
				@media (max-width: 768px)
					margin-top: 0
				label span
					margin-right: 15px
	.bottom
		display: flex
		margin-top: 30px
		@media (max-width: 768px)
			flex-direction: column
			margin-top: 15px
		&_1,
		&_2,
		&_3
			display: flex
			flex-direction: column
			margin: 0 30px
			width: 30%
			@media (max-width: 768px)
				width: 90%
			&_top
				display: flex
				align-items: center
				justify-content: space-between
				& > p
					width: 50%
					font-size: 16px
					@media (max-width: 1200px)
						font-size: 13px
					@media (max-width: 768px)
						width: 65%
			p#timetext,
			p#timetext2,
			p#timetext3
				font-size: 30px
				text-align: center
				border-radius: 30px
				background: #d0d0d0
				width: 40%
				@media(max-width: 992px)
					width: 35%
					font-size: 24px
				@media (max-width: 768px)
					width: 25%
	h2#cnumb
		color: $yellow
		font-size: 40px
		@media (max-width: 1200px)
			font-size: 30px
		@media (max-width: 992px)
			font-size: 20px
		@media(max-width: 576px)
			font-size: 18px
	.rass
		padding: 15px 25px
		background: transparent
		color: $yellow
		font-size: 18px
		font-weight: 600
		display: none
		@media(max-width: 992px)
			font-size: 12px
			@media(max-width: 576px)
				font-size: 10px
				padding: 15px 10px
		&:hover
			background: $red
			color: white
		i
			margin-right: 7px
	#employ
		margin-top: 30px
		@media(max-width: 992px)
			margin-top: 45px
		@media (max-width: 768px)
			margin-top: 10px
.question
	background: #f2f2f2
	&_contain
		display: flex
		flex-direction: column
		text-align: center
		h3
			font-size: 24px
			line-height: 24px
			padding: 0 70px
			font-weight: bold
			color: #484848
		.span
			font-size: 35px
			padding: 30px 0
			font-weight: 900
			span
				cursor: pointer
				&:hover
					color: $red
.feedback
	color: white
	background: url("img/feedback_bg.jpg")
	background-attachment: fixed
	.single-item &_block
		border: 1px solid white
		border-radius: 20px
		display: flex
		min-height: 350px
		@media (max-width: 768px)
			flex-direction: column
		@media(max-width: 576px)
			min-height: 480px
		&_logo
			width: 50%
			background: white
			border-radius: 15px 0 0 15px
			display: flex
			align-items: center
			justify-content: center
			@media(max-width: 992px)
				width: 100%
			@media(max-width: 768px)
				margin-bottom: 20px
				height: 100px
				border-radius: 15px 15px 0 0
			img
				width: 80%
				height: 80%
				object-fit: contain
		&_text
			display: flex
			flex-direction: column
			justify-content: center
			padding: 0 50px
			p
				font-size: 24px
				line-height: 24px
				font-weight: bold
				text-align: left
			span
				text-align: right
				font-style: italic
.partners
	img
		width: 80%
		height: 100px
		object-fit: contain
		margin: 0 auto
	.logo-box
		@media(max-width: 768px)
			flex-wrap: wrap
			justify-content: center
			.col-md-2
				width: 30%
.map
	padding: 0
.contact
	form
		width: 100%
		input
			width: 30%
			border: none
			border-bottom: 1px solid rgba(0, 0, 0, 0.4)
			margin: 10px 20px
			padding: 15px 20px
			@media(max-width: 576px)
				width: 100%
		textarea
			width: 64%
			margin: 0 auto
			border: none
			border-bottom: 1px solid rgba(0, 0, 0, 0.4)
			padding: 15px 20px
			@media (max-width: 576px)
				width: 86%
	.form_top,
	.form_bottom
		display: flex
		justify-content: center
	.btn
		min-width: 200px
		background: $yellow
		padding: 15px 30px
		color: white
		cursor: pointer
		margin-top: 20px
		font-size: 18px
		border: none
		&:hover
			border: none
			box-shadow: 1px 5px 20px 1px rgba(0, 0, 0, 0.5)
.footer
	color: white
	background: #353535
	padding: 50px 0 0
	&_top
		display: flex
		flex-direction: column
		background: #282c2f
		padding: 30px 0
		&_content p
			font-size: 20px

	img
		width: 270px
		margin-bottom: 35px
		@media(max-width: 992px)
			width: 140px
	a
		color: white
		@media(max-width: 992px)
			font-size: 14px
		&:hover
			color: $yellow
	&_content
		border-bottom: 1px solid #515151
		padding-bottom: 20px
		@media(max-width: 768px)
			text-align: center
	p
		margin: 10px 15px 0
		font-size: 20px
		color: antiquewhite
	&-link
		padding: 3px 0
		font-size: 20px
	&-link:hover
		color: $yellow!important
	.social
		display: flex
		padding-left: 0
		@media (max-width: 768px)
			justify-content: center
		li
			margin: 0 25px 0 0
			font-size: 35px
	i
		margin-right: 10px
	&_nav
		padding: 0
		margin: 0
		display: flex
		li
			padding: 0 12px
			a
				color: white
				font-size: 26px
			&:last-child
				border-right: none
				padding-right: 0
		@media(max-width: 768px)
			display: none
	&_bottom
		img
			width: 150px
			margin: 20px 0 10px
			float: right
			@media(max-width: 480px)
				width: 70px
.fixed_nav
	width: 180px
	height: 55px
	background: rgba(255, 255, 255, 0.1)
	position: fixed
	top: 30px
	right: 0
	display: none
	align-items: center
	justify-content: center
	display: none
	cursor: pointer
	&_width
		width: 100% !important
		@media (max-width: 576px)
			height: 210px
			.fixed_line
				top: 25px
			ul
				align-items: flex-start!important
				margin-top: 0!important
				li
					padding: 0 0 5px!important
	@media (max-width: 768px)
		width: 60px
		top: 0
	.h3
		color: $yellow
		font-size: 28px
		letter-spacing: 0.05em
		padding: 5px 0 10px 30px
		@media (max-width: 768px)
			display: none
	.fixed_line
		position: absolute
		left: 0
		@media (max-width: 768px)
			left: auto
			right: 30px
		&:before,
		&:after
			content: ""
			position: absolute
			width: 40px
			height: 5px
			background: $yellow
			left: -20px
			z-index: 100
			transition: all 0.5s ease
		&:before
			top: -12px
		&:after
			top: 8px
		&_rotate
			&:before
				transform: rotate(45deg)
				top: -5px
			&:after
				transform: rotate(-45deg)
				top: -5px
	.right-nav
		position: absolute
		height: 100%
		background: black
		width: 850px
		right: -1000px
		padding-top: 5px
		transition: all 0.5s ease
		@media(max-width: 992px)
			width: 730px
		@media (max-width: 768px)
			width: 100%
		ul
			display: flex
			align-items: center
			margin-top: 7px
			@media(max-width: 576px)
				flex-direction: column
			li
				padding: 0 20px
				@media (max-width: 992px)
					padding: 0 10px
			a
				color: white
				&:hover
					color: $yellow
		&:before
			position: absolute
			content: ""
			width: 50px
			height: 5px
			background: $yellow
			left: -25px
			top: 25px
			@media (max-width: 768px)
				display: none
		&_active
			right: 0
		.phone
			position: absolute
			right: 20px
			top: 12px
			color: white
			@media (max-width: 768px)
				display: none
.active_fixed_nav
	display: flex
.fixed_nav_black
	background: black
	.fixed_line
		&:before,
		&:after
			background: white
	.h3
		color: white
	.right-nav
		&:before
			background: white
.single-item.slick-initialized.slick-slider
	@media (max-width: 1260px)
		width: 90%
		margin: 0 auto
.single-item-logo
	width: 100%
.modal-form-overlay
	position: fixed
	width: 100%
	height: 100%
	background: rgba(0, 0, 0, 0.8)
	display: flex
	align-items: center
	justify-content: center
	top: -1000px
	left: 0
	&_active
		top: 0
		.modal-form
			opacity: 1!important
	.modal-form
		background: white
		width: 550px
		height: 350px
		border-radius: 15px
		padding: 20px 40px
		opacity: 0
		transition: all 1.2s ease
		position: relative
		@media (max-width: 767px)
			width: 500px
		@media (max-width: 567px)
			width: 80%
		.modal-btn-close
			position: absolute
			right: -20px
			top: -15px
			font-size: 30px
			background: $yellow
			padding: 7px 20px
			border-radius: 100%
			transition: all .5s ease
			cursor: pointer
			@media(max-width: 576px)
				font-size: 24px
				padding: 7px 16px
			a
				color: white
			&:hover
				background: $red
	.modal_form
		display: flex
		flex-direction: column
		.modal-inputs
			display: flex
			justify-content: center
			@media (max-width: 567px)
				flex-direction: column
				input
					width: 100%
					margin: 5px 0
		input
			width: 35%
			margin: 10px 5px
			border-radius: 5px
			border: rgba(0, 0, 0, 0.51) 1px solid
			padding: 15px 20px
		.btn
			width: 72%
			border-radius: 5px
			padding: 15px 20px
			background: $yellow
			color: white
			font-size: 20px
			border: none
			@media (max-width: 576px)
				width: 100%
				margin-top: 5px
			&:hover
				background: $red
				border: none
				border-radius: 5px
				box-shadow: 0 5px 10px rgba(0, 0, 0, 0.48)
	.line
		margin: 10px auto
.h1
	font-size: 40px
	font-weight: 600
	@media (max-width: 567px)
		font-size: 30px
		&-sub
			font-size: 14px!important
	&-sub
		font-size: 18px
		font-weight: 600
		opacity: .6
.ontop
	position: absolute
	bottom: 35px
	left: 50px
	background: $yellow
	padding: 15px 20px
	transform: rotate(180deg)
	border-radius: 10px
	transition: all .5s ease
	&:hover
		background: $red
		color: white
.popup-calculate
	position: fixed
	width: 100%
	height: 100%
	display: none
	justify-content: center
	align-items: center
	background: rgba(0, 0, 0, 0.8)
	top: 0
	&-active
		display: flex
	&-content
		width: 550px
		height: auto
		max-height: 100vh
		background: white
		border-radius: 7px
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.42)
		display: flex
		flex-direction: column
		align-items: center
		text-align: center
		padding: 30px 20px
		position: relative
		@media(max-width: 768px)
			width: 85%
		h4
			font-size: 28px
			font-weight: 600
		ul
			margin: 20px 0 0
			padding: 0
			border-radius: 3px
			border-bottom: 1px solid rgba(129, 129, 129, 0.2)
			width: 80%
			@media(max-width: 768px)
				width: 100%
			li
				padding: 14px 10px
				border: 1px solid rgba(129, 129, 129, 0.2)
				border-bottom: none
			    text-align: left
				display: flex
				justify-content: space-between
				p
					font-size: 16px
					@media(max-width: 768px)
						font-size: 12px
				.js-text
					color: $red
					font-weight: 600
		.popup-calculate-form
			input
				border: 1px solid rgba(129, 129, 129, 0.2)
				border-radius: 3px
				padding: 10px 15px
				margin-top: 40px
				@media(max-width: 768px)
					width: 100%
					margin-top: 15px
			.btn
				margin: 8px 0
				padding: 10px 30px
				width: 100%
				background: $red
				color: white
				border-radius: 5px
				box-shadow: 0 5px 10px rgba(0, 0, 0, 0.33)
				border: none
				outline: none
				font-size: 18px
				letter-spacing: 0.05em
				transition: all 0.5s ease
				&:hover
					box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7)
	.popup-calculate-close
		display: flex
		position: absolute
		top: -20px
		right: -20px
		background: $red
		color: white
		padding: 8px 16px
		border-radius: 100%
		font-weight: 600
		transition: all .5s ease
		&:hover
			background: black
@media (max-width:1200px)
   header
	   .header_nav
		   ul
			   li
				   a
					   font-size: 14px!important
   .header_form
	   p.headline
		   font-size: 24px!important
   .header_headlines
	   h1
		   font-size: 40px!important

@media only screen and (max-width:992px)
	
@media only screen and (max-width:768px)
	
@media only screen and (max-width:576px)
	



			
