.cp p{
  font-size: 20px;
  font-weight: 100;
}
.cp ul li{
  margin: 10px 180px;
  opacity: .8;
  position: relative;
}
.cp ul li:before{
  content: "";
  position: absolute;
  top: 4px;
  left: -45px;
  width: 30px;
  height: 30px;
  color: #ffb100;
  background: url(../img/check-solid.svg);
}
.cp .bottom-text{
  font-style: italic;
  margin-top: 20px;
  font-size: 35px;
}
.dop-headline{
  font-size: 20px;
  opacity: .8;
}
.services_btn_container {
  width: 100%;
  position: absolute;
  /* height: 50px; */
  background: rgb(255, 177, 0);
  bottom: -65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services_btn_container a{
  background: #505050;
  padding: 14px 80px;
  margin: 17px 0;
  color: white;
  font-weight: bold;
  border-radius: 7px;
  font-size: 22px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.22);
  transition: all .8s ease;
}
.services_btn_container a:hover{
  opacity: .9;
}
.services {
  margin-bottom: 80px;
}
.calculate-box {
  height: 600px;
}
.calculate_bottom {
  position: absolute;
  width: 100%;
  bottom: 15px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 0 50px;
}
.calculate_bottom_top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 15px;
}
.calc-modal {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  font-size: 24px;
}
.calculate_bottom a i {
  margin: 0 10px;
}
.partners img{
  height: 70px;
}
