.cp p{
  font-size: 20px;
  font-weight: 100;
}
.cp ul li{
  margin: 10px 180px;
  opacity: .8;
  position: relative;
}
.cp ul li:before{
  content: "";
  position: absolute;
  top: 4px;
  left: -45px;
  width: 30px;
  height: 30px;
  color: #ffb100;
  background: url(../img/check-solid.svg);
}
.cp .bottom-text{
  font-style: italic;
  margin-top: 20px;
  font-size: 35px;
}
.dop-headline{
  font-size: 20px;
  opacity: .8;
}
.services_btn_container {
  width: 100%;
  position: absolute;
  /* height: 50px; */
  background: rgb(255, 177, 0);
  bottom: -65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services_btn_container a{
  background: #505050;
  padding: 14px 80px;
  margin: 17px 0;
  color: white;
  font-weight: bold;
  border-radius: 7px;
  font-size: 22px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.22);
  transition: all .8s ease;
}
.services_btn_container a:hover{
  opacity: .9;
}
.services {
  margin-bottom: 80px;
}
.calculate-box {
  height: 600px;
}
.calculate_bottom {
  position: absolute;
  width: 100%;
  bottom: 15px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 0 50px;
}
.calculate_bottom_top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 15px;
}
.calc-modal {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  font-size: 24px;
}
.calculate_bottom a i {
  margin: 0 10px;
}
.partners img{
  height: 70px;
}
.numb-input {
  font-size: 30px;
  text-align: center;
  border-radius: 30px;
  background: #d0d0d0;
  width: 40%;
  border: navajowhite;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
#employ{
  margin-top: 15px!important;
}

.header-pages{
  height: 185px;
  background: black;
}
.services-link {
  color: white;
}
.services-link:hover{
  text-decoration: underline;
}
.calculate .h1{
  color: white;
}
.h1{
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 2em!important;
  font-family: Proxima-bold;
}
.sitemap a:hover{
  text-decoration: underline;
}
.p404{
  font-size: 250px;
}
.footer .social{
  align-items: center;
}

.forms_flash .alert{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 500px;
  color: black;
  font-size: 18px;
  padding: 20px 30px 20px 15px;
  box-shadow: 0 0 80.4px 20.6px rgba(63, 63, 63, 0.15);
  border-radius: 5px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
.forms_flash .alert li{
  margin-left: 5px;
}
.forms_flash .alert p{
  font-size: 18px!important;
  color: black!important;
}
.forms_flash .alert button.close{
  position: absolute;
  right: 0;
  top: -5px;
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
}


@media(max-width:1200px){
  .calculate-box {
    height: 540px;
  }
  .calculate{
    padding: 20px 0 40px;
  }
  .footer .social{
    margin-left: 80px;
  }
  .ontop {
    bottom: 18px;
    left: 35px;
  }
}
@media(max-width: 992px){
  .h1{
    font-size: 1.4em!important;
  }
}
@media(max-width: 768px){
  .cp ul li{
    margin: 10px;
  }
  .footer_content > div {
    align-items: flex-start!important;
  }
  .footer p {
    margin: 10px 0px 0;
    font-size: 15px;
    color: #faebd7;
  }
  .fixed_nav .right-nav {
    width: 260px;
    height: 100vh;
    top: 0;
  }
  .fixed_nav .right-nav ul {
    align-items: flex-start;
  }
  .fixed_nav .right-nav ul li {
    padding: 6px 10px;
  }
  .header-pages{
    height: 145px;
  }
  .forms_flash .alert{
    width: 85%;
    transform: translateX(-50%)!important;
    font-size: 16px;
  }

}
@media(max-width: 576px){
  .footer_bottom{
    flex-wrap: wrap;
  }
  .calculate-box {
    height: 600px;
  }
  .calc-modal {
    width: 240px;
    padding: 15px 3px;
  }
  .calculate_bottom {
    width: 92%;
  }
  .calculate .bottom_1, .calculate .bottom_2, .calculate .bottom_3 {
    width: 88%;
  }
  .p404{
    font-size: 100px;
  }
}
