<form data-request="{{ __SELF__ }}::onFormSubmit">
    {{ form_token() }}

    {{ actionName }}
    <div class="form_top">
        <input type="text" placeholder="Ваше Имя" required name="Имя">
        <input type="email" placeholder="Email" required name="Email">
    </div>
    <div class="form_bottom">
        <textarea name="Сообщение" id="message" placeholder="Сообщение" required></textarea>
    </div>
    <div class="form_btn d-flex justify-content-center">
        <button class="btn">Отправить</button>
    </div>

    <div id="{{ __SELF__ }}_forms_flash" class="forms_flash"></div>

    <div class="form-group ll">
        {% partial '@recaptcha' %}
    </div>

</form>
