[genericForm mainForm]
group = "Форма с главного экрана"
messages_success = "Ваше сообщение успешно отправлено"
messages_errors = "Не удалось отправить сообщение"
mail_enabled = 1
mail_subject = "Заявка с главного экрана"
mail_recipients[] = "dmitry.lavrov@snapix.ru"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_enabled = 0
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"

[genericForm callbackForm]
group = "Модальная форма связи"
messages_success = "Ваше сообщение успешно отправлено"
messages_errors = "Не удалось отправить сообщение"
mail_enabled = 1
mail_subject = "Заявка из модального окна"
mail_recipients[] = "dmitry.lavrov@snapix.ru"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_enabled = 0
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"

[genericForm footerForm]
group = "Форма связи Footer"
messages_success = "Ваше сообщение успешно отправлено"
messages_errors = "Не удалось отправить сообщение"
mail_enabled = 1
mail_subject = "Заявка с обратной связи"
mail_recipients[] = "dmitry.lavrov@snapix.ru"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_enabled = 0
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"

[genericForm calcForm]
group = "Форма связи Калькулятора"
messages_success = "Ваше сообщение успешно отправлено"
messages_errors = "Не удалось отправить сообщение"
mail_enabled = 1
mail_subject = "Заявка с формы калькулятора"
mail_recipients[] = "dmitry.lavrov@snapix.ru"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"

[SeoCmsPage]
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Финэксперт - {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="OctoberCMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        <link rel="icon" type="image/png" href="{{ 'assets/img/favicon.png'|theme }}">
        <link href="{{ 'assets/css/main.min.css'|theme }}" rel="stylesheet">
        <link href="{{'assets/css/bootstrap-grid.min.css'|theme}}" rel="stylesheet">
        <link href="{{'assets/css/slick/slick.css'|theme}}" rel="stylesheet">
        <link href="{{'assets/css/slick/slick-theme.css'|theme}}" rel="stylesheet">
        <link href="{{'assets/css/custom.css'|theme}}" rel="stylesheet">
        <link href="{{'assets/css/animated.css'|theme}}" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
              integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;subset=cyrillic-ext"
              rel="stylesheet">
        {% styles %}
        {% component 'SeoCmsPage' %}
    </head>
    <body>

        <!-- Header -->
            {% partial 'header' %}

        <!-- Content -->
            {% page %}

        <!-- Footer -->
            {% partial 'footer' %}

        <!-- Scripts -->


        <div class="fixed_nav">
            <p class="h3">Меню</p>
            <div class="fixed_line"></div>
            <div class="right-nav">
                <ul>
                    <li><a class="scroll-anchor" href="#main">Главная</a></li>
                    <li><a class="scroll-anchor" href="#company">О компании</a></li>
                    <li><a class="scroll-anchor" href="#services">Услуги</a></li>
                    <li><a class="scroll-anchor" href="#prices">Цены</a></li>
                    <li><a class="scroll-anchor" href="#rewius">Отзывы</a></li>
                    <li><a class="scroll-anchor" href="#contacts">Контакты</a></li>
                </ul>
                <div class="phone">8-977-714-63-03</div>
            </div>
        </div>
        <div class="modal-form-overlay">
            <div class="modal-form">
                {% component 'callbackForm' %}
                <div class="modal-btn-close">
                    <a href="#close">X</a>
                </div>
            </div>
        </div>
        <div class="popup-calculate">
            <div class="popup-calculate-content">
                <h4>Получить рассчет стоимости:</h4>
                <ul>
                    <li><p>Сфера деятельности: </p> <p class="js-text" id="formServices">Не выбрано</p></li>
                    <li><p>Организационно-правовая форма:</p><p class="js-text" id="formOrganization">Не выбрано</p></li>
                    <li><p>Режим налогообложения:</p><p class="js-text" id="formTax">Не выбрано</p></li>
                    <li><p>Операций с покупателями(в месяц):</p><p class="js-text" id="formBuyers">Не выбрано</p></li>
                    <li><p>Операций с поставщиками(в месяц):</p><p class="js-text" id="formProviders">Не выбрано</p></li>
                    <li><p>Количество сотрудников в штате:</p><p class="js-text" id="formEmployees">Не выбрано</p></li>
                    <li><p>Приблизительная стоимсоть:</p><p class="js-text" id="formPrice">Не выбрано</p></li>
                </ul>
                {% component 'calcForm' %}
                <a href="#close" class="popup-calculate-close">X</a>
            </div>
        </div>

        {% flash %}
        <p
                data-control="flash-message"
                class="flash-message fade {{ type }}"
                data-interval="1000">
            {{ message }}
        </p>
        {% endflash %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="{{ 'assets/vendor/bootstrap.js'|theme }}"></script>
        <script src="{{'assets/javascript/slick.min.js'|theme}}"></script>
        <script src="{{'assets/javascript/calc.js'|theme}}"></script>
        <script src="{{'assets/javascript/jquery.vide.js'|theme}}"></script>
        <script src="{{'assets/javascript/jquery.maskedinput.min.js'|theme}}"></script>
        <script src="{{'assets/javascript/app.js'|theme}}"></script>
        <script src="{{'assets/javascript/wow.min.js'|theme}}"></script>

        <script src="https://www.google.com/recaptcha/api.js?render=6Le8VN4UAAAAAMsbfLW3FtYOmOT2zfLGnLGTV8YC"></script>
        <script>
            grecaptcha.ready(function() {
                grecaptcha.execute('6Le8VN4UAAAAAMsbfLW3FtYOmOT2zfLGnLGTV8YC', {action: 'homepage'}).then(function(token) {
                    console.log(token);
                    document.getElementById('g-recaptcha-response').value=token;

                });
            });
        </script>
        {% framework extras %}
        {% scripts %}
        <script>
            new WOW().init();
        </script>
    </body>
</html>