title = 404
url = "/404"
layout = "pages"
is_hidden = 0
==
<div class="container" style="text-align: center">
    <p class="p404">404!</p>
    <p style="font-size: 40px">Похоже мы не можем найти нужную вам страницу.</p>
    <a href="{{'home'|page}}" class="services-link" style="color: black;font-size: 30px;margin: 30px 0;display: inline-block">Вернуться на главную</a>
</div>