title = "Цены"
url = "/ceny"
layout = "pages"
is_hidden = 0
==

<section class="calculate">
    <a name="prices" id="prices"></a>
    <div class="container" style="position: relative">
        <p class="text-center"><span>Для рассчета заполните все поля</span></p>
        <div class="calculate-box">
            <div class="calc_body">
                <div class="top">
                    <div class="top_1">
                        <h3>Сфера деятельности</h3>
                        <div class="radio_field">
                            <label>
                                <input type="radio" name="field" value="services">
                                <span>услуги</span>
                            </label>
                            <label>
                                <input type="radio" name="field" value="wholesale">
                                <span>оптовая торговля</span>
                            </label>
                            <label>
                                <input type="radio" name="field" value="retail">
                                <span>розничная торговля</span>
                            </label>
                            <label>
                                <input type="radio" name="field" value="build">
                                <span>строительство</span>
                            </label>
                            <label>
                                <input type="radio" name="field" value="production">
                                <span>производство</span>
                            </label>
                            <label style="display: none">
                                <input type="radio" name="field" value="representation" style="display: none">
                                <span>пред-во иностранной ком.</span>
                            </label>
                            <label>
                                <input type="radio" name="field" value="non-profit">
                                <span>некоммерческая деятельность</span>
                            </label>
                        </div>
                    </div>
                    <div class="top_2">
                        <div class="top_2_top">
                            <h3>Организационно-правовая форма</h3>
                            <div class="radio_organization">
                                <label>
                                    <input type="radio" name="organization" value="ip">
                                    <span>ИП</span>
                                </label>
                                <label>
                                    <input type="radio" name="organization" value="ooo">
                                    <span>ООО</span>
                                </label>
                                <label>
                                    <input type="radio" name="organization" value="ao">
                                    <span>НКО</span>
                                </label>
                            </div>
                        </div>
                        <div class="top_2_bottom">
                            <h3>Режим налогообложения</h3>
                            <div class="radio_tax">
                                <label>
                                    <input type="radio" name="tax" value="nds">
                                    <span>ОСНО</span>
                                </label>
                                <label>
                                    <input type="radio" name="tax" value="usn15">
                                    <span>УСН 15%</span>
                                </label>
                                <label>
                                    <input type="radio" name="tax" value="usn6">
                                    <span>УСН 6%</span>
                                </label>
                                <label>
                                    <input type="radio" name="tax" value="envd">
                                    <span>ЕНВД</span>
                                </label>
                                <label>
                                    <input type="radio" name="tax" value="patent">
                                    <span>ПАТЕНТ</span>
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="bottom">
                    <div class="bottom_1">
                        <div class="bottom_1_top">
                            <p>Количество операций с покупателями(в месяц)</p>
                            <input type="number" placeholder="0" id="buyer" name="buyers" min="0" max="300" class="numb-input" value="0">
                        </div>
                    </div>
                    <div class="bottom_2">
                        <div class="bottom_2_top">
                            <p>Количество операций с поставщиками(в месяц)</p>
                            <input type="number" placeholder="0" id="provider" name="providers" min="0" max="300" class="numb-input" value="0">
                        </div>
                    </div>
                    <div class="bottom_3">
                        <div class="bottom_3_top">
                            <p>Количество сотрудников в штате</p>
                            <input type="number" placeholder="0" id="employ" name="employees" min="0" max="300" class="numb-input" value="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="calculate_bottom">
            <div class="calculate_bottom_top">
                <p class="calculate_bottom_left">Стоимость бухгалтерских услуг от: <h2 class="result_number" id="cnumb">Выберите все условия</h2></p>
                <button class="rass btn"><i class="fas fa-calculator"></i>Посчитать стоимость</button>
            </div>
            <a href="#modal" class="btn modal-btn calc-modal"><i class="fas fa-angle-double-right"></i>Оформить заявку<i class="fas fa-angle-double-left"></i></a>
        </div>
    </div>
</section>
<section class="question">
    <div class="container">
        <div class="row">
            <div class="question_contain">
                <h3>Если у вас остались вопросы или вы решили стать нашим клиентом — добро пожаловать.
                    Связаться с нами вы можете как на сайте, так и позвонив нам по телефонам:</h3>
                <div class="span">
                    <span>8-977-714-63-03</span> <br>
                    <span>8-977-144-05-30</span>
                </div>
                <h3>Бухгалтерские услуги в Коломне — наша специализация!</h3>
            </div>
        </div>
    </div>
</section>