title = "Декларации 3-НДФЛ для иностранных граждан"
url = "/deklaracii-3-ndfl-dlya-inostrannyh-grazhdan"
layout = "pages"
is_hidden = 0
==

<section class="cp">
    <div class="container">
        <p style="font-size: 24px;padding-bottom: 0;font-weight: bold"><span style="text-transform: uppercase">Декларации 3-НДФЛ для иностранных граждан</span>
        </p>
    </div>
</section>