title = "Главная"
url = "/"
layout = "default"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[genericForm callbackForm]
group = "Модальная форма связи"
messages_success = "Ваше сообщение успешно отправлено"
messages_errors = "Не удалось отправить сообщение"
mail_enabled = 1
mail_subject = "Заявка из модального окна"
mail_recipients[] = "dmitry.lavrov@snapix.ru"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"

[genericForm footerForm]
group = "Форма связи Footer"
messages_success = "Ваше сообщение успешно отправлено"
messages_errors = "Не удалось отправить сообщение"
mail_enabled = 1
mail_subject = "Заявка с обратной связи"
mail_recipients[] = "dmitry.lavrov@snapix.ru"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_enabled = 0
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"

[genericForm calcForm]
group = "Форма связи Калькулятора"
messages_success = "Ваше сообщение успешно отправлено"
messages_errors = "Не удалось отправить сообщение"
mail_enabled = 1
mail_subject = "Заявка с формы калькулятора"
mail_recipients[] = "dmitry.lavrov@snapix.ru"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==

<?php
function onStart(){
    if ($_SERVER['REQUEST_METHOD'] === 'POST' && isset($_POST['g-recaptcha-response'])) {

    // Build POST request
    $recaptcha_url = 'https://www.google.com/recaptcha/api/siteverify';
    $recaptcha_secret = '6Le8VN4UAAAAAKtB6_GUlu-ei2e4dCJ9swKU7iV_';
    $recaptcha_response = $_POST['g-recaptcha-response'];

    // Make and decode POST request
    $recaptcha = file_get_contents($recaptcha_url . '?secret=' . $recaptcha_secret . '&response=' . $recaptcha_response);
    $recaptcha = json_decode($recaptcha);

    // Take action based on the score returned
    if ($recaptcha->score >= 0.5) {
// Verified - send email
} else {
// Not verified - show form error
}

}
}
?>
==


<section class="advantages">
    <a name="company" id="company"></a>
    <div class="container">
        <div class="advantages_items">
            <div class="advantages_item">
                <div class="advantages_item_img">
                    <img src="{{'assets/img/tag.png'|theme}}" alt="">
                </div>
                <p>Мы стремимся, чтобы наши услуги могли позволить себе все, поэтому у нас всегда приемлемые цены.</p>
            </div>
            <div class="advantages_item">
                <div class="advantages_item_img">
                    <img src="{{'assets/img/24-hours.png'|theme}}" alt="">
                </div>
                <p>Наш офис расположен напротив налоговой, что значительно
                    уменьшает затрачиваемое вами время.
                </p>
            </div>
            <div class="advantages_item">
                <div class="advantages_item_img">
                    <img src="{{'assets/img/question.png'|theme}}" alt="">
                </div>
                <p>Решаем ваши вопросы в день поступления. При желании вы
                    можете забрать документы в любой удобный для вас день.</p>
            </div>
            <div class="advantages_item">
                <div class="advantages_item_img">
                    <img src="{{'assets/img/consultation.png'|theme}}" alt="">
                </div>
                <p>Вы всегда можете получить у нас бесплатную консультацию.</p>
            </div>
            <div class="advantages_item">
                <div class="advantages_item_img">
                    <img src="{{'assets/img/team.png'|theme}}" alt="">
                </div>
                <p>Сплоченная команда
                    профессионалов с
                    большим опытом работы</p>
            </div>
            <div class="advantages_item">
                <div class="advantages_item_img">
                    <img src="{{'assets/img/bar-chart.png'|theme}}" alt="">
                </div>
                <p>Заинтересованность
                    в развитии Вашего
                    бизнеса</p>
            </div>
        </div>
    </div>
</section>
<section class="cp">
    <div class="container">
        <p class="text-center h1">О компании</p>
        <div class="line black-line"></div>
        <p class="text-center"><span style="font-weight: bold;font-size: 22px">ФинЭксперт</span> – это коллектив специалистов высокого уровня, специализирующихся
            на оказании бухгалтерских услуг малому и среднему бизнесу. Наша компания
            поможет зарегистрировать Вашу фирму и зарегистрировать Вас в качестве ИП.
            Мы возьмем на себя бухгалтерское сопровождение Вашего бизнеса, что
            предоставит Вам возможность сосредоточиться на ведении основных дел, не
            отвлекаясь на утомительную работу по составлению бухгалтерской и налоговой
            отчётности.</p>
        <p style="font-size: 24px;padding-bottom: 0;font-weight: bold"><span style="text-transform: uppercase">Основные принципы работы ФинЭксперт:</span>
        </p>
        <ul>
            <li>Индивидуальный подход. За время работы компания ФинЭксперт разработала
                фирменный стиль сотрудничества со своими Клиентами. Это принцип
                персонального подхода к каждому клиенту. Мы уважаем и ценим каждого нашего
                клиента и сделаем всё возможное, чтобы обезопасить Ваш бизнес от вероятных
                налоговых и финансовых рисков.</li>
            <li>Конфиденциальность полученной в ходе сотрудничества информации. Мы
                гарантируем, что информация, предоставленная нашим специалистам, не
                подлежит разглашению.</li>
            <li>Оперативность выполнения поставленных задач. Мы решаем в сжатые сроки и в
                полном объёме задачи, поставленные Клиентами.</li>
            <li>Гарантия качества выполненных работ. Специалисты ФинЭксперт несут
                ответственность перед своими Клиентами.</li>
            <li>Бухгалтерский аутсорсинг поможет Вам сэкономить на затратах на штатный
                персонал без потери качества оказываемых услуг.</li>
        </ul>
        <p style="font-size: 24px;padding-bottom: 0;font-weight: bold"><span style="text-transform: uppercase">Услуги специалистов ФинЭксперт – это гарантия успешности Вашего бизнеса!</span>
    </div>
</section>
<section class="services">
    <a name="services" id="services"></a>
    <div class="container">
        <p class="text-center h1"> Услуги</p>
        <p class="text-center"><span class="dop-headline">(Список необходимых документов уточняйте по телефону)</span></p>
        <div class="line"></div>
        <div class="services_items">
            <div class="services_item animated wow fadeInLeft" data-wow-offset="0">
                <h2 class="services_item_h2 "><a href="{{'registraciya-ooo-i-ip'|page}}" class="services-link">Регистрация ООО и ИП</a></h2>
                <ul>
                    <li>Подготовка пакета документов</li>
                    <li>Оплата государственной пошлины</li>
                    <li>Подача документов без посещения налоговой инспекции</li>
                </ul>
            </div>
            <div class="services_item animated wow fadeInRight" data-wow-offset="0">
                <h2 class="services_item_h2"><a href="{{'buhgalterskoe-soprovozhdenie-yuridicheskih-lic-i-ip'|page}}" class="services-link">Бухгалтерское сопровождение юридических лиц и ИП</a></h2>
                <ul>
                    <li>ЕНВД</li>
                    <li>УСН</li>
                    <li>ОСНО</li>
                    <li>ПАТЕНТ</li>
                </ul>
            </div>
            <div class="services_item animated wow fadeInLeft" data-wow-offset="0">
                <h2 class="services_item_h2 "><a href="{{'podgotovka-i-sdacha-otchetnosti'|page}}" class="services-link">Подготовка и сдача отчетности в:</a></h2>
                <ul>
                    <li>ИФНС</li>
                    <li>ПФР</li>
                    <li>ФСС</li>
                    <li>РОССТАТ</li>
                    <li>РОСАЛКОГОЛЬРЕГУЛИРОВАНИЕ</li>
                    <li>КАДАСТР ОТХОДОВ</li>
                </ul>
            </div>
            <div class="services_item animated wow fadeInRight" data-wow-offset="0">
                <h2 class="services_item_h2"><a href="{{'deklaracii-3-ndfl-dlya-fizicheskih-lic'|page}}" class="services-link">Декларации 3-НДФЛ для физических лиц</a></h2>
                <ul>
                    <li>Жилье</li>
                    <li>Лечение</li>
                    <li>Обучение</li>
                    <li>Ценные бумаги</li>
                    <li>Автомобиль</li>
                </ul>
            </div>
            <div class="services_item animated wow fadeInLeft" data-wow-offset="0">
                <h2 class="services_item_h2 "><a href="{{'deklaracii-3-ndfl-dlya-inostrannyh-grazhdan'|page}}" class="services-link">Декларации 3-НДФЛ для иностранных граждан</a></h2>
            </div>
            <div class="services_item animated wow fadeInRight" data-wow-offset="0">
                <h2 class="services_item_h2"><a href="{{'ecp-dlya-vseh-torgovyh-ploshchadok-dokumentooborota-i-sdachi-otchetnosti'|page}}" class="services-link">ЭЦП для ВСЕХ ТОРГОВЫХ ПЛОЩАДОК,
                    ДОКУМЕНТООБОРОТА И СДАЧИ ОТЧЕТНОСТИ</a></h2>
            </div>
            <div class="services_item animated wow fadeInLeft" data-wow-offset="0">
                <h2 class="services_item_h2"><a href="{{'likvidaciya-ooo-i-ip'|page}}" class="services-link">Ликвидация ООО и ИП</a></h2>
                <ul>
                    <li>Добровольная ликвидация ООО</li>
                    <li>Подготовка документов для прекращения деятельности ИП</li>
                </ul>
            </div>
            <div class="services_item animated wow fadeInRight" data-wow-offset="0">
                <h2 class="services_item_h2 "><a href="{{'onlajn-kassy-i-ofd'|page}}" class="services-link">Онлайн-кассы и ОФД</a></h2>
            </div>
        </div>
    </div>
    <div class="services_btn_container">
        <a href="#price-list" download>Скачать прайс-лист</a>
    </div>
</section>
<section class="scheme">
    <div class="container">
        <p class="text-center h1">Схема работы</p>
        <div class="line black-line"></div>
        <div class="scheme_container">
            <div class="scheme_left col-md-6">
                <p class="h3 text-center"><i class="fas fa-angle-double-down" style="color: #ffb100"></i>Клиент</p>
                <div class="scheme_list">
                    <div class="scheme_list_item n_1">
                        <h4>Подача заявки через сайт или по телефону:</h4>
                        <ul>
                            <li>8-977-714-63-03</li>
                            <li>8-977-144-05-30</li>
                        </ul>
                    </div>
                    <div class="scheme_list_item n_2">
                        <h4>ВСТРЕЧА В ОФИСЕ, ЗАКЛЮЧЕНИЕ ДОГОВОРА И ПЕРЕДАЧА ДЕЛ:</h4>
                        <ul>
                            <li>Для вновь зарегистрированных компаний</li>
                            <li>Для действующих компаний</li>
                        </ul>
                    </div>
                    <div class="scheme_list_item n_3">
                        <h4>Возможность контроля:</h4>
                        <ul>
                            <li>Проверка отчетности в режиме реального времени</li>
                            <li>Контроль всей бухгалтерии на любом этапе</li>
                        </ul>
                    </div>
                    <div class="scheme_list_item n_4" style="display: none">
                        <h4>При желании Клиент может:</h4>
                        <ul>
                            <li>Возможности</li>
                            <li>Возможности добавим</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="scheme_right col-md-6">
                <p class="h3 text-center"><i class="fas fa-angle-double-down" style="color: #b7230f"></i>"ФИНЭКСПЕРТ"
                </p>
                <div class="scheme_list">
                    <div class="scheme_list_item n_1">
                        <h4>СОСТАВЛЕНИЕ РАСЧЕТА СТОИМОСТИ ОБСЛУЖИВАНИЯ:</h4>
                        <ul>
                            <li>Учет особенностей ведения непосредственно бухгалтерии Клиента</li>
                            <li>Составление подробного расчета стоимости обслуживания</li>
                        </ul>
                    </div>
                    <div class="scheme_list_item n_2">
                        <h4>ОБРАБОТКА ПОЛУЧЕННОЙ ИНФОРМАЦИИ:</h4>
                        <ul>
                            <li>Внесение первичных документов</li>
                            <li>Подключение к электронной отчетности</li>
                        </ul>
                    </div>
                    <div class="scheme_list_item n_3">
                        <h4>ВЕДЕНИЕ УЧЕТА:</h4>
                        <ul>
                            <li>Обмен первичными документами</li>
                            <li>Контроль всей бухгалтерии на любом этапе</li>
                            <li>Предварительный расчет налогов и согласование с Клиентом</li>
                            <li>Подготовка необходимых документов для ИФНС при непосредственных проверках</li>
                            <li>Ответственность по формированию и сдаче отчетности в Фонды, ИФНС, Росстат</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="calculate">
    <a name="prices" id="prices"></a>
    <div class="container" style="position: relative">
        <p class="text-center h1">Рассчитать стоимость</p>
        <div class="line"></div>
        <p class="text-center"><span>Для рассчета заполните все поля</span></p>
        <div class="calculate-box">
            <div class="calc_body">
                <div class="top">
                    <div class="top_1">
                        <h3>Сфера деятельности</h3>
                        <div class="radio_field">
                            <label>
                                <input type="radio" name="field" value="services">
                                <span>услуги</span>
                            </label>
                            <label>
                                <input type="radio" name="field" value="wholesale">
                                <span>оптовая торговля</span>
                            </label>
                            <label>
                                <input type="radio" name="field" value="retail">
                                <span>розничная торговля</span>
                            </label>
                            <label>
                                <input type="radio" name="field" value="build">
                                <span>строительство</span>
                            </label>
                            <label>
                                <input type="radio" name="field" value="production">
                                <span>производство</span>
                            </label>
                            <label style="display: none">
                                <input type="radio" name="field" value="representation" style="display: none">
                                <span>пред-во иностранной ком.</span>
                            </label>
                            <label>
                                <input type="radio" name="field" value="non-profit">
                                <span>некоммерческая деятельность</span>
                            </label>
                        </div>
                    </div>
                    <div class="top_2">
                        <div class="top_2_top">
                            <h3>Организационно-правовая форма</h3>
                            <div class="radio_organization">
                                <label>
                                    <input type="radio" name="organization" value="ip">
                                    <span>ИП</span>
                                </label>
                                <label>
                                    <input type="radio" name="organization" value="ooo">
                                    <span>ООО</span>
                                </label>
                                <label>
                                    <input type="radio" name="organization" value="ao">
                                    <span>НКО</span>
                                </label>
                            </div>
                        </div>
                        <div class="top_2_bottom">
                            <h3>Режим налогообложения</h3>
                            <div class="radio_tax">
                                <label>
                                    <input type="radio" name="tax" value="nds">
                                    <span>ОСНО</span>
                                </label>
                                <label>
                                    <input type="radio" name="tax" value="usn15">
                                    <span>УСН 15%</span>
                                </label>
                                <label>
                                    <input type="radio" name="tax" value="usn6">
                                    <span>УСН 6%</span>
                                </label>
                                <label>
                                    <input type="radio" name="tax" value="envd">
                                    <span>ЕНВД</span>
                                </label>
                                <label>
                                    <input type="radio" name="tax" value="patent">
                                    <span>ПАТЕНТ</span>
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="bottom">
                    <div class="bottom_1">
                        <div class="bottom_1_top">
                            <p>Количество операций с покупателями(в месяц)</p>
                            <input type="number" placeholder="0" id="buyer" name="buyers" min="0" max="300" class="numb-input" value="0">
                        </div>
                    </div>
                    <div class="bottom_2">
                        <div class="bottom_2_top">
                            <p>Количество операций с поставщиками(в месяц)</p>
                            <input type="number" placeholder="0" id="provider" name="providers" min="0" max="300" class="numb-input" value="0">
                        </div>
                    </div>
                    <div class="bottom_3">
                        <div class="bottom_3_top">
                            <p>Количество сотрудников в штате</p>
                            <input type="number" placeholder="0" id="employ" name="employees" min="0" max="300" class="numb-input" value="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="calculate_bottom">
            <div class="calculate_bottom_top">
                <p class="calculate_bottom_left">Стоимость бухгалтерских услуг от: <h2 class="result_number" id="cnumb">Выберите все условия</h2></p>
                <button class="rass btn"><i class="fas fa-calculator"></i>Посчитать стоимость</button>
            </div>
            <a href="#modal" class="btn modal-btn calc-modal"><i class="fas fa-angle-double-right"></i>Оформить заявку<i class="fas fa-angle-double-left"></i></a>
        </div>
    </div>
</section>
<section class="question">
    <div class="container">
        <div class="row">
            <div class="question_contain">
                <h3>Если у вас остались вопросы или вы решили стать нашим клиентом — добро пожаловать.
                    Связаться с нами вы можете как на сайте, так и позвонив нам по телефонам:</h3>
                <div class="span">
                    <span>8-977-714-63-03</span> <br>
                    <span>8-977-144-05-30</span>
                </div>
                <h3>Бухгалтерские услуги в Коломне — наша специализация!</h3>
            </div>
        </div>
    </div>
</section>
<section class="feedback">
    <a name="rewius" id="rewius"></a>
    <div class="container">
        <p class="text-center h1">Отзывы о нашей работе</p>
        <div class="line"></div>
        <div class="single-item">
            <div class="feedback_block">
                <div class="feedback_block_logo">
                    <img src="{{'assets/img/logo-1.png'|theme}}" alt="">
                </div>
                <div class="feedback_block_text">
                    <p>Хорошая работа компании, быстро выставляют счета, накладные, всегда на связи. Все честно, доступно, качественно.</p>
                    <span>С уважением Марат Галимов</span>
                </div>
            </div>

            <div class="feedback_block">
                <div class="feedback_block_logo">
                    <img src="{{'assets/img/logo-2.png'|theme}}" alt="">
                </div>
                <div class="feedback_block_text">
                    <p>Специалисты компании "ФинЭксперт", грамотно ведут нашу бухгалтерию, полноценно консультируют и дают полезные советы по дальнейшему развитию бизнеса.</p>
                    <span>С уважением Иванов Василий</span>
                </div>
            </div>

            <div class="feedback_block">
                <div class="feedback_block_logo">
                    <img src="{{'assets/img/logo-3.png'|theme}}" alt="">
                </div>
                <div class="feedback_block_text">
                    <p>Хорошая работа компании, быстро выставляют счета, накладные, всегда на связи. Все честно, доступно, качественно.</p>
                    <span>С уважением Геннадий Васильев</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="partners">
    <div class="container" style="max-width: 100%">
        <p class="text-center h1">Наши партнеры</p>
        <div class="line black-line"></div>
        <div class="row">
            <div class="single-logo">
                <div class="col-md-12 d-flex logo-box justify-content-center">
                    <div class="col-md-3 justify-content-center d-flex">
                        <img src="{{'assets/img/partner_1.png'|theme}}" alt="">
                    </div>
                    <div class="col-md-3 justify-content-center d-flex">
                        <img src="{{'assets/img/partner_2.png'|theme}}" alt="">
                    </div>
                    <div class="col-md-3 justify-content-center d-flex">
                        <img src="{{'assets/img/partner_3.png'|theme}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="map" id="map"></section>
<a name="contacts" id="contacts"></a>
<section class="contact">
    <div class="container">
        <p class="text-center h1">Обратная связь</p>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
{% component 'footerForm' %}
            </div>
        </div>
    </div>
</section>

<div class="fixed_nav">
    <p class="h3">Меню</p>
    <div class="fixed_line"></div>
    <div class="right-nav">
        <ul>
            <li><a class="scroll-anchor" href="#main">Главная</a></li>
            <li><a class="scroll-anchor" href="#company">О компании</a></li>
            <li><a class="scroll-anchor" href="#services">Услуги</a></li>
            <li><a class="scroll-anchor" href="#prices">Цены</a></li>
            <li><a class="scroll-anchor" href="#rewius">Отзывы</a></li>
            <li><a class="scroll-anchor" href="#contacts">Контакты</a></li>
        </ul>
        <div class="phone">8-977-714-63-03</div>
    </div>
</div>
<div class="modal-form-overlay">
    <div class="modal-form">
{% component 'callbackForm' %}
        <div class="modal-btn-close">
            <a href="#close">X</a>
        </div>
    </div>
</div>
<div class="popup-calculate">
    <div class="popup-calculate-content">
        <h4>Получить рассчет стоимости:</h4>
        <ul>
            <li><p>Сфера деятельности: </p> <p class="js-text" id="formServices">Не выбрано</p></li>
            <li><p>Организационно-правовая форма:</p><p class="js-text" id="formOrganization">Не выбрано</p></li>
            <li><p>Режим налогообложения:</p><p class="js-text" id="formTax">Не выбрано</p></li>
            <li><p>Операций с покупателями(в месяц):</p><p class="js-text" id="formBuyers">Не выбрано</p></li>
            <li><p>Операций с поставщиками(в месяц):</p><p class="js-text" id="formProviders">Не выбрано</p></li>
            <li><p>Количество сотрудников в штате:</p><p class="js-text" id="formEmployees">Не выбрано</p></li>
            <li><p>Приблизительная стоимсоть:</p><p class="js-text" id="formPrice">Не выбрано</p></li>
        </ul>
        {% component 'calcForm' %}
        <a href="#close" class="popup-calculate-close">X</a>
    </div>
</div>
<a href="#top" class="ontop" title="К началу страницы"><i class="fas fa-angle-double-down first"></i></a>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A934c981e391a99927d537e844b99b8ade0077b7604de52e4f219b3ff1ea69b92&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=false&amp;id=map"></script>