title = "Контакты"
url = "/kontakty"
layout = "pages"
is_hidden = 0
==

<section class="map" id="map"></section>
<a name="contacts" id="contacts"></a>
<section class="contact">
    <div class="container">
        <h1 class="text-center">Обратная связь</h1>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                {% component 'footerForm' %}
            </div>
        </div>
    </div>
</section>


<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A934c981e391a99927d537e844b99b8ade0077b7604de52e4f219b3ff1ea69b92&amp;width=100%25&amp;height=500&amp;lang=ru_RU&amp;scroll=false&amp;id=map"></script>
