title = "О компании"
url = "/o-kompanii"
layout = "pages"
is_hidden = 0
==

<section class="cp">
    <div class="container">
        <p class="text-center"><span style="font-weight: bold;font-size: 22px">ФинЭксперт</span> – это коллектив специалистов высокого уровня, специализирующихся
            на оказании бухгалтерских услуг малому и среднему бизнесу. Наша компания
            поможет зарегистрировать Вашу фирму и зарегистрировать Вас в качестве ИП.
            Мы возьмем на себя бухгалтерское сопровождение Вашего бизнеса, что
            предоставит Вам возможность сосредоточиться на ведении основных дел, не
            отвлекаясь на утомительную работу по составлению бухгалтерской и налоговой
            отчётности.</p>
        <p style="font-size: 24px;padding-bottom: 0;font-weight: bold"><span style="text-transform: uppercase">Основные принципы работы ФинЭксперт:</span>
        </p>
        <ul>
            <li>Индивидуальный подход. За время работы компания ФинЭксперт разработала
                фирменный стиль сотрудничества со своими Клиентами. Это принцип
                персонального подхода к каждому клиенту. Мы уважаем и ценим каждого нашего
                клиента и сделаем всё возможное, чтобы обезопасить Ваш бизнес от вероятных
                налоговых и финансовых рисков.</li>
            <li>Конфиденциальность полученной в ходе сотрудничества информации. Мы
                гарантируем, что информация, предоставленная нашим специалистам, не
                подлежит разглашению.</li>
            <li>Оперативность выполнения поставленных задач. Мы решаем в сжатые сроки и в
                полном объёме задачи, поставленные Клиентами.</li>
            <li>Гарантия качества выполненных работ. Специалисты ФинЭксперт несут
                ответственность перед своими Клиентами.</li>
            <li>Бухгалтерский аутсорсинг поможет Вам сэкономить на затратах на штатный
                персонал без потери качества оказываемых услуг.</li>
        </ul>
        <p style="font-size: 24px;padding-bottom: 0;font-weight: bold"><span style="text-transform: uppercase">Услуги специалистов ФинЭксперт – это гарантия успешности Вашего бизнеса!</span>
    </div>
</section>


<section class="advantages">
    <a name="company" id="company"></a>
    <div class="container">
        <div class="advantages_items">
            <div class="advantages_item">
                <div class="advantages_item_img">
                    <img src="{{'assets/img/tag.png'|theme}}" alt="">
                </div>
                <p>Мы стремимся, чтобы наши услуги могли позволить себе все, поэтому у нас всегда приемлемые цены.</p>
            </div>
            <div class="advantages_item">
                <div class="advantages_item_img">
                    <img src="{{'assets/img/24-hours.png'|theme}}" alt="">
                </div>
                <p>Наш офис расположен напротив налоговой, что значительно
                    уменьшает затрачиваемое вами время.
                </p>
            </div>
            <div class="advantages_item">
                <div class="advantages_item_img">
                    <img src="{{'assets/img/question.png'|theme}}" alt="">
                </div>
                <p>Решаем ваши вопросы в день поступления. При желании вы
                    можете забрать документы в любой удобный для вас день.</p>
            </div>
            <div class="advantages_item">
                <div class="advantages_item_img">
                    <img src="{{'assets/img/consultation.png'|theme}}" alt="">
                </div>
                <p>Вы всегда можете получить у нас бесплатную консультацию.</p>
            </div>
            <div class="advantages_item">
                <div class="advantages_item_img">
                    <img src="{{'assets/img/team.png'|theme}}" alt="">
                </div>
                <p>Сплоченная команда
                    профессионалов с
                    большим опытом работы</p>
            </div>
            <div class="advantages_item">
                <div class="advantages_item_img">
                    <img src="{{'assets/img/bar-chart.png'|theme}}" alt="">
                </div>
                <p>Заинтересованность
                    в развитии Вашего
                    бизнеса</p>
            </div>
        </div>
    </div>
</section>