title = "Онлайн-кассы и ОФД"
url = "/onlajn-kassy-i-ofd"
layout = "pages"
is_hidden = 0
==

<section class="cp">
    <div class="container">
        <p style="font-size: 24px;padding-bottom: 0;font-weight: bold"><span style="text-transform: uppercase">Онлайн-кассы и ОФД</span>
        </p>
    </div>
</section>