title = "Отзывы"
url = "/otzyvy"
layout = "pages"
is_hidden = 0
==

<section class="feedback">
    <a name="rewius" id="rewius"></a>
    <div class="container">
        <div class="single-item">
            <div class="feedback_block">
                <div class="feedback_block_logo">
                    <img src="{{'assets/img/logo-1.png'|theme}}" alt="">
                </div>
                <div class="feedback_block_text">
                    <p>Хорошая работа компании, быстро выставляют счета, накладные, всегда на связи. Все честно, доступно, качественно.</p>
                    <span>С уважением Марат Галимов</span>
                </div>
            </div>

            <div class="feedback_block">
                <div class="feedback_block_logo">
                    <img src="{{'assets/img/logo-2.png'|theme}}" alt="">
                </div>
                <div class="feedback_block_text">
                    <p>Специалисты компании "ФинЭксперт", грамотно ведут нашу бухгалтерию, полноценно консультируют и дают полезные советы по дальнейшему развитию бизнеса.</p>
                    <span>С уважением Иванов Василий</span>
                </div>
            </div>

            <div class="feedback_block">
                <div class="feedback_block_logo">
                    <img src="{{'assets/img/logo-3.png'|theme}}" alt="">
                </div>
                <div class="feedback_block_text">
                    <p>Хорошая работа компании, быстро выставляют счета, накладные, всегда на связи. Все честно, доступно, качественно.</p>
                    <span>С уважением Геннадий Васильев</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="partners">
    <div class="container" style="max-width: 100%">
        <div class="row">
            <div class="single-logo">
                <div class="col-md-12 d-flex logo-box justify-content-center">
                    <div class="col-md-3 justify-content-center d-flex">
                        <img src="{{'assets/img/partner_1.png'|theme}}" alt="">
                    </div>
                    <div class="col-md-3 justify-content-center d-flex">
                        <img src="{{'assets/img/partner_2.png'|theme}}" alt="">
                    </div>
                    <div class="col-md-3 justify-content-center d-flex">
                        <img src="{{'assets/img/partner_3.png'|theme}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>