title = "Услуги"
url = "/uslugi"
layout = "pages"
is_hidden = 0
==


<section class="services">
    <a name="services" id="services"></a>
    <div class="container">
        <h1 class="text-center"> Услуги</h1>
        <p class="text-center"><span class="dop-headline">(Список необходимых документов уточняйте по телефону)</span></p>
        <div class="line"></div>
        <div class="services_items">
            <div class="services_item animated wow fadeInLeft" data-wow-offset="0">
                <h2 class="services_item_h2 "><a href="{{'registraciya-ooo-i-ip'|page}}" class="services-link">Регистрация ООО и ИП</a></h2>
                <ul>
                    <li>Подготовка пакета документов</li>
                    <li>Оплата государственной пошлины</li>
                    <li>Подача документов без посещения налоговой инспекции</li>
                </ul>
            </div>
            <div class="services_item animated wow fadeInRight" data-wow-offset="0">
                <h2 class="services_item_h2"><a href="{{'buhgalterskoe-soprovozhdenie-yuridicheskih-lic-i-ip'|page}}" class="services-link">Бухгалтерское сопровождение юридических лиц и ИП</a></h2>
                <ul>
                    <li>ЕНВД</li>
                    <li>УСН</li>
                    <li>ОСНО</li>
                    <li>ПАТЕНТ</li>
                </ul>
            </div>
            <div class="services_item animated wow fadeInLeft" data-wow-offset="0">
                <h2 class="services_item_h2 "><a href="{{'podgotovka-i-sdacha-otchetnosti'|page}}" class="services-link">Подготовка и сдача отчетности в:</a></h2>
                <ul>
                    <li>ИФНС</li>
                    <li>ПФР</li>
                    <li>ФСС</li>
                    <li>РОССТАТ</li>
                    <li>РОСАЛКОГОЛЬРЕГУЛИРОВАНИЕ</li>
                    <li>КАДАСТР ОТХОДОВ</li>
                </ul>
            </div>
            <div class="services_item animated wow fadeInRight" data-wow-offset="0">
                <h2 class="services_item_h2"><a href="{{'deklaracii-3-ndfl-dlya-fizicheskih-lic'|page}}" class="services-link">Декларации 3-НДФЛ для физических лиц</a></h2>
                <ul>
                    <li>Жилье</li>
                    <li>Лечение</li>
                    <li>Обучение</li>
                    <li>Ценные бумаги</li>
                    <li>Автомобиль</li>
                </ul>
            </div>
            <div class="services_item animated wow fadeInLeft" data-wow-offset="0">
                <h2 class="services_item_h2 "><a href="{{'deklaracii-3-ndfl-dlya-inostrannyh-grazhdan'|page}}" class="services-link">Декларации 3-НДФЛ для иностранных граждан</a></h2>
            </div>
            <div class="services_item animated wow fadeInRight" data-wow-offset="0">
                <h2 class="services_item_h2"><a href="{{'ecp-dlya-vseh-torgovyh-ploshchadok-dokumentooborota-i-sdachi-otchetnosti'|page}}" class="services-link">ЭЦП для ВСЕХ ТОРГОВЫХ ПЛОЩАДОК,
                    ДОКУМЕНТООБОРОТА И СДАЧИ ОТЧЕТНОСТИ</a></h2>
            </div>
            <div class="services_item animated wow fadeInLeft" data-wow-offset="0">
                <h2 class="services_item_h2"><a href="{{'likvidaciya-ooo-i-ip'|page}}" class="services-link">Ликвидация ООО и ИП</a></h2>
                <ul>
                    <li>Добровольная ликвидация ООО</li>
                    <li>Подготовка документов для прекращения деятельности ИП</li>
                </ul>
            </div>
            <div class="services_item animated wow fadeInRight" data-wow-offset="0">
                <h2 class="services_item_h2 "><a href="{{'onlajn-kassy-i-ofd'|page}}" class="services-link">Онлайн-кассы и ОФД</a></h2>
            </div>
        </div>
    </div>
    <div class="services_btn_container">
        <a href="#price-list" download>Скачать прайс-лист</a>
    </div>
</section>

<section class="scheme">
    <div class="container">
        <h1 class="text-center">Схема работы</h1>
        <div class="line black-line"></div>
        <div class="scheme_container">
            <div class="scheme_left col-md-6">
                <p class="h3 text-center"><i class="fas fa-angle-double-down" style="color: #ffb100"></i>Клиент</p>
                <div class="scheme_list">
                    <div class="scheme_list_item n_1">
                        <h4>Подача заявки через сайт или по телефону:</h4>
                        <ul>
                            <li>8-977-714-63-03</li>
                            <li>8-977-144-05-30</li>
                        </ul>
                    </div>
                    <div class="scheme_list_item n_2">
                        <h4>ВСТРЕЧА В ОФИСЕ, ЗАКЛЮЧЕНИЕ ДОГОВОРА И ПЕРЕДАЧА ДЕЛ:</h4>
                        <ul>
                            <li>Для вновь зарегистрированных компаний</li>
                            <li>Для действующих компаний</li>
                        </ul>
                    </div>
                    <div class="scheme_list_item n_3">
                        <h4>Возможность контроля:</h4>
                        <ul>
                            <li>Проверка отчетности в режиме реального времени</li>
                            <li>Контроль всей бухгалтерии на любом этапе</li>
                        </ul>
                    </div>
                    <div class="scheme_list_item n_4" style="display: none">
                        <h4>При желании Клиент может:</h4>
                        <ul>
                            <li>Возможности</li>
                            <li>Возможности добавим</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="scheme_right col-md-6">
                <p class="h3 text-center"><i class="fas fa-angle-double-down" style="color: #b7230f"></i>"ФИНЭКСПЕРТ"
                </p>
                <div class="scheme_list">
                    <div class="scheme_list_item n_1">
                        <h4>СОСТАВЛЕНИЕ РАСЧЕТА СТОИМОСТИ ОБСЛУЖИВАНИЯ:</h4>
                        <ul>
                            <li>Учет особенностей ведения непосредственно бухгалтерии Клиента</li>
                            <li>Составление подробного расчета стоимости обслуживания</li>
                        </ul>
                    </div>
                    <div class="scheme_list_item n_2">
                        <h4>ОБРАБОТКА ПОЛУЧЕННОЙ ИНФОРМАЦИИ:</h4>
                        <ul>
                            <li>Внесение первичных документов</li>
                            <li>Подключение к электронной отчетности</li>
                        </ul>
                    </div>
                    <div class="scheme_list_item n_3">
                        <h4>ВЕДЕНИЕ УЧЕТА:</h4>
                        <ul>
                            <li>Обмен первичными документами</li>
                            <li>Контроль всей бухгалтерии на любом этапе</li>
                            <li>Предварительный расчет налогов и согласование с Клиентом</li>
                            <li>Подготовка необходимых документов для ИФНС при непосредственных проверках</li>
                            <li>Ответственность по формированию и сдаче отчетности в Фонды, ИФНС, Росстат</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

