<form data-request="{{ __SELF__ }}::onFormSubmit" class="header_form">
    {{ form_token() }}

    {{ actionName }}
    <p class="headline">Оформить заявку</p>
    <input type="text" placeholder="Ваше Имя" required name="Ваше имя">
    <input type="email" placeholder="Email" required name="Email">
    <textarea name="Сообщение" id="message" placeholder="Сообщение" required></textarea>
    <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" />
    <div class="form_btn d-flex justify-content-center">
        <button class="btn">Отправить</button>
    </div>

    <div id="{{ __SELF__ }}_forms_flash" class="forms_flash"></div>

    <div class="form-group ll">
        {% partial '@recaptcha' %}
    </div>
</form>

