<form data-request="{{ __SELF__ }}::onFormSubmit" class="popup-calculate-form">
    {{ form_token() }}

    {{ actionName }}
    <div>
        <input type="text" placeholder="Ваше имя" required name="Имя">
        <input type="tel" placeholder="Номер телефона" required name="Телефон" class="phone-mask"  pattern="^[+]7[(][0-9]{3}[)][\s][0-9]{3}[\-][0-9]{2}[\-][0-9]{2}$">

        <input type="text" name="Сфера деятельности" id="first-hidden" style="visibility: hidden; position: absolute">
        <input type="text" name="Организационно-правовая форма" id="second-hidden" style="visibility: hidden; position: absolute">
        <input type="text" name="Режим налогообложения" id="third-hidden" style="visibility: hidden; position: absolute">
        <input type="text" name="Количество операций с покупателями(в месяц)" id="four-hidden" style="visibility: hidden; position: absolute">
        <input type="text" name="Количество операций с поставщиками(в месяц)" id="fifth-hidden" style="visibility: hidden; position: absolute">
        <input type="text" name="Количество сотрудников в штате" id="six-hidden" style="visibility: hidden; position: absolute">
        <input type="text" name="Приблизительная стоимость" id="seven-hidden" style="visibility: hidden; position: absolute">
    </div>
    <button class="btn">Рассчитать</button>

    <div id="{{ __SELF__ }}_forms_flash" class="forms_flash"></div>
</form>
